html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  background: green;
  height: 100px;
}

.content {
  width: 100%;
  max-width: 1200px;
  background: white;
  height: 300px;
  margin: 0 auto;
}

.footer {
  background: #e3f2fd;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
main {
  padding-top: 150px;
}
main .navbar {
  background:#e3f2fd;
}
